@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
  font-family: "Nazegul";
  src: url("../fonts/nazegul/Nazegul-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

html.no-scroll {
  overflow: hidden;
}

body {
  overflow-x: hidden;
}

:root {
  --normal-font: "Catamaran", sans-serif;
  --constrast-color: #44dab9;
  --color05: #155939;
  --color04: #1B8C57;
  --color03: #5EA689;
  --color02: #84BFA4;
  --color01: #B8D9CA;
}

.cabecalho {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--constrast-color);
  height: 8rem;
}

.cabecalho-logo {
  height: 100%;
}

.cabecalho-menu-lista {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.cabecalho-menu-lista-item-link {
  font-size: 1.6rem;
  font-family: var(--normal-font);
  font-weight: 800;
  color: var(--color05);
  padding: 0.5rem;
}

.cabecalho-menu-lista-item {
  border-radius: 1rem;
  transition: 0.3s;

}

.cabecalho-menu-lista-item:hover {
  background-color: var(--color01);
  transform: translateY(-4px);
}

.toggle-button {
  display: none;
  overflow: hidden;
}

.principal-hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 75vh;
  background-image: url("images/hero/hero-template.jpg");
  background-position: bottom left;
  background-attachment: fixed;
  background-size: cover;
  box-shadow: inset 0rem 0.1rem 2rem 0rem black;
}

.principal-hero-texto {
  text-align: center;
  color: white;
}

.principal-hero-texto-titulo {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 7rem;
}

.principal-hero-texto-paragrafo {
  font-family: var(--normal-font);
  font-size: 3.6rem;
}

.conteudo-principal-titulo {
  border-bottom: 1px solid black;
  max-width: 60rem;
  margin: 0px auto;
  margin-top: 2rem;
  margin-bottom: 4rem;
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  text-align: center;
}

.conteudo-principal-cursos {
  display: grid;
  margin: 2rem auto;
  max-width: 140rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  row-gap: 2rem;

  justify-content: center;
  justify-items: center;
}

.card-container {
  max-width: 95%;
}

.center-grid {
  grid-column-start: 2;
}

.card {
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0.6rem 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
}

.card:hover {
  box-shadow: 0.4rem 0.8rem 1.6rem rgba(0, 0, 0, 0.2);  
  transform: translateY(-0.5rem);
}

.card-imagem {
  width: 100%;
  border-radius: 1rem 1rem 0px 0px;
}

.card-texto {
  font-family: var(--normal-font);
  text-indent: 1rem;
}

.card-titulo {
  background-color: green;
  font-size: 2rem;
  color: white;
}

.card-descricao {
  font-weight: 500;
  font-size: 1.8rem;
  margin-top: 5px;
  height: 10rem;
}

.card-btn {
  font-size: 1.6rem;
  color: white;
  min-width: 20rem;
  background-color: var(--color03);
  border-radius: 0.6rem;
  border: 1px solid var(--color03);
  box-shadow: 0rem 0.5rem 0.3rem rgba(0, 0, 0, 0.2);
  margin: 1rem;
  padding: 0.5rem;
  align-self: center;
  transition: 0.3s;
}

.card-btn:active {
  box-shadow: 0px 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
  transform: translateY(0.4rem);
}

.curso-detalhado {
  font-family: var(--normal-font);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-shadow: inset -0.2rem 0.1rem 3rem 0rem black;
  width: 100%;
  height: 90rem;
  margin-bottom: 0rem;
  color: white;
  background-attachment: fixed;
  transition: 0.3s;
}


.texto-detalhado {
  position: relative;
  top: 3rem;
  left: 3rem;
  padding: 1rem;
  border-radius: 1rem;
  width: 60rem;
  background-color: rgba(128, 128, 128, 0.453);
  background-attachment: fixed;
}

.titulo-detalhado {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 6rem;
  font-variant: small-caps;
}

.descricao-detalhado {
  font-size: 1.8rem;
}

#retroescavadeira {
  background-image: url("images/detalhada/escavadeira.jpg");
  background-position: center left;
}

#solda {
  background-image: url("images/detalhada/solda.jpg");
  background-position: center center;
  background-size: cover;
}

#empilhadeira {
  background-image: url("images/detalhada/empilhadeira.jpg");
  background-position: top center;
}

#formacao {
  background-image: url("images/detalhada/mecanico-florestal.jpg");
  background-size: cover;
}

#teoria {
  background-image: url("images/detalhada/teoria-pratica.jpg")
}

#maquinas-florestais {
  background-image: url("images/detalhada/maquina-florestal.jpg");
}

#empresa {
  background-image: url("images/detalhada/floresta.jpg");
}

.hide {
  display: none;
}

.unhide {
  display: block;
}

.rodape {
  font-size: 1.8rem;
  font-family: var(--normal-font);
  background-color: var(--constrast-color);
  text-align: center;
}

.rodape-texto {
  padding: 3rem;
}

.rodape-link {
  color: black;
}

@media (max-width: 1200px) { /* LapTop */
  html {
    font-size: 50%;
  }
}

@media (max-width: 768px) { /* Mobile L  */
  .toggle-button {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
  }

  .toggle-button span {
    position: absolute;
    top: 44%;
    width: 25px;
    height: 3px;
    background-color: var(--color05);
    transition: 0.3s;
  }

  .one {
    transform: translateY(-7px);
  }

  .three {
    transform: translateY(7px);
  }

  .toggle-button.activate .one {
    transform: rotate(45deg);
    transition-delay: 0.2s;
  }

  .toggle-button.activate .two {
    transform: translateX(200%);
  }

  .toggle-button.activate .three {
    transform: rotate(315deg);
    transition-delay: 0.3s;
  }

  .conteudo-principal-titulo {
    font-size: 3rem;
    width: 100%;
  }

  .card-container {
    grid-column: 2;
    width: 400px;
  }

  .texto-detalhado {
    max-width: 50rem;
  }
}