@charset "UTF-8";

body {
	font-family: Roboto;
	overflow-x: hidden;
}

.flex-center-align {
	justify-content: center;
	align-items: center;
}

/* Container */
.container {
	width: 100vw;
	padding: 0 15px;
}

/* First Container */
.first-container {
	display: flex;
	flex-direction: column;
	height: 200px;
	background-image: url(../images/Contato/background-1920x836.jpg);
	background-size: contain;
	background-attachment: fixed;
}

.first-container .logo {
	width: 100px;
}

.first-container .logo-text {
	text-align: center;
	font-weight: 900;
	font-style: italic;
	font-size: 40px;
	letter-spacing: -4px;
	color: var(--color05);
}

/* Second Container */
.second-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px 0;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	row-gap: 1.6rem;
	width: 90%;
	height: 100%;
	margin: auto 0px;
}

.second-container .content h1 {
	font-size: 3.5rem;
}

.second-container .content p {
	font-size: 2.4rem;
	text-align: center;
}

/* Third Container */
.third-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: fit-content;
	padding: 30px 0px;
	background-image: linear-gradient(to right, #1A3126 -40%, #155939);
}

.contacts-wrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	row-gap: 8rem;
	width: 100%;
	height: 100%;
}

.contact {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 300px;
	height: 300px;
	background-color: #22BB73;
	border-radius: 100%;
}

.contact:nth-child(1) > img {
	width: 60%;
}

.contact:nth-child(2) > img {
	width: 70%;
}

.contact > img {
	transition: 0.3s ease-in-out;
}

.contact:hover > img {
	opacity: 0;
}

/* Fourth Container */
.fourth-container {
	position: relative;
	display: flex;
	flex-direction: column;
}

.bottom-detail {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 120px;
	z-index: -1;
	background-color: var(--color05);
}

.fourth-container h2 {
	margin: 15px 0px;
	margin-bottom: 30px;
	font-size: 3rem;
}

.form-wrapper {
	width: 95%;
	display: grid;
	grid-template-columns: repeat(1fr, 6);
}

.form {
	display: flex;
	flex-direction: column;
	row-gap: 7px;
	grid-column: 1/6;
	background-color: #1B8C57;
	padding: 10px 15px;
	border-radius: 10px;
	transform: translateY(-15px);
}

.input-field {
	font-size: 1.5rem;
	font-weight: normal;
	height: 4.5rem;
	padding: 5px;
	border: solid 2px var(--color05);
	border-radius: 10px;
	color: white;
	background-color: var(--color03);
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.textarea {
	height: 12rem;
}

.input-field:focus {
	outline: 0;
	border: solid 2px var(--color05);
}

.form-btn {
	font-size: 24px;
	font-weight: bold;
	height: 65px;
	border-radius: 10px;
	border: none;
	background-color: hsla(152, 62%, 22%, 0.70);
	color: white;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25),
							inset 4px 4px 16px rgba(255, 255, 255, 0.3),
							inset -4px -4px 16px rgba(0, 0, 0, 0.75);
}

/* Footer */
footer {
	background-color: var(--contrast-color);
}

footer > p {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	padding: 15px 0px;
}

@media (min-width: 768px) {
	.first-container {
		height: 300px;
	}

	.first-container .logo {
		width: 130px;
	}

	.first-container .logo-text {
		font-size: 5rem;
	}

	.contacts-wrapper {
		flex-direction: row;
		width: 90%;		
	}

	.third-container .contacts-wrapper .contact {
		width: 300px;
		height: 300px;
	}
}

@media (min-width: 1024px) {
	.first-container {
		height: 400px;
	}

	.first-container .logo {
		width: 200px;
	}

	.first-container .logo-text {
		font-size: 6rem;
	}

	.second-container {
		margin: 30px 0;
	}

	.contacts-wrapper {
		width: 100%;
		justify-content: space-around;
	}

	.third-container .contacts-wrapper .contact {
		width: 400px;
		height: 400px;
	}

	.form-wrapper {
		width: 80%;
	}

	.input-field {
		font-size: 2rem;
		font-weight: normal;
		height: 7rem;
		padding: 8px;
		border: solid 3px var(--color05);
		border-radius: 10px;
		color: white;
		background-color: var(--color03);
		box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);	
	}

	.textarea {
		height: 15rem;
	}

	.form-btn {
		font-size: 3.2rem;
		height: 8rem;
	}
	
	footer > p {
		font-size: 18px;
	}
}