@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --normal-font: "Catamaran", sans-serif;
  --contrast-color: #44dab9;
  --color05: #155939;
  --color04: #1B8C57;
  --color03: #5EA689;
  --color02: #84BFA4;
  --color01: #B8D9CA;
}

.bg-color-primary {
  background-color: var(--color01);
}

.bg-color-secondary {
  background-color: var(--color02);
}

.bg-color-third {
  background-color: var(--color03);
}

.bg-color-fourth {
  background-color: var(--color04);
}

.bg-color-fifth {
  background-color: var(--color01);
}

.bg-contrast-color {
  background-color: var(--contrast-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  font-size: 50%;
  height: 200vh;
}

body {
  font-family: "Catamaran", sans-serif;
  overflow-x: hidden;
}

@media (min-width: 768px) {
  html {
    font-size: 62.5%;
  }
}

.active-link {
  position: relative;
}

.active-link::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #155939;
  transition: 0.3s ease-in-out;
}

.active-link:hover::after {
  opacity: 0;
}

.container-fluid {
  width: 100%;
}

.container-fluid:nth-child(odd) {
  background-color: var(--color05);
  color: white;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: auto;
  width: 80%;
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(4, 3fr);
  }
}