@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* 
Padrão:
  1 - Posicionamento,
  2 - Box Model,
  3 - Tipografia,
  4 - Visual.
*/

:root {
  --color01: #155939;
  --color02: #1B8C57;
  --color03: #5EA689;
  --color04: #84BFA4;
  --color05: #B8D9CA;
}

/********/
/* Body */
/********/
body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  height: 97vh;
}

/**********/
/* Header */
/**********/
header {
  font-family: "Asap", sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 70px;
  margin: 0px auto;
  overflow: hidden;
  background-image: linear-gradient(to bottom, #70c5a2, #C8D1C8, #34906a 120%);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 750px;
  width: 90%;
}

.header-content .image {
  width: 200px;
}

.header-content .image img {
  width: 100%;
  height: 100%;
}

.header-content .toggle-button{
  display: none;
}

.menu-section nav ul {
  display: flex;
  list-style: none;
}

.menu-section nav ul li {
  border-radius: 5px;
}

.menu-section nav ul li a {
  padding: 2px 5px;
  border-radius: 4px;
  color: var(--color02);
  text-decoration: none;
  transition: 0.5s;
}

.menu-section nav ul li:hover a {
  background-color: var(--color04);
  color: var(--color05);
}

@media (max-width: 768px) and (min-width: 300px) {
  /**********/
  /* Header */
  /**********/
  .header-content > div.toggle-button {
    position: relative;
    display: flex;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.315);
    width: 40px;
    height: 40px;
    background-color: var(--color05);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    z-index: 11;
  }

  .header-content > .toggle-button > span {
    position: absolute;
    top: 47%;
    right: 13%;
    display: block;
    width: 30px;
    height: 3px;
    background-color: var(--color03);
    transition: 0.3s;
  }

  .menu-section {
    display: none;
  }

  .menu-section.activate {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color02);
    width: 100vw;
    height: 100vh;
    z-index: 10;
  }

  .menu-section nav {
    width: 100%;
  }

  .menu-section nav ul {
    display: block;
    text-align: center;
    padding: 0px;
  }

  .menu-section nav ul li {
    display: block;
  }

  .menu-section nav ul li a {
    display: block;
    color: var(--color03);
    text-decoration: none;
    transition: 0.3s;
    padding: 5px;
  }

  .menu-section nav ul li:hover a {
    background-color: var(--color04);
  }
}
