@charset "UTF-8";

/*
Padrão da estilização (que eu vo tentar seguir):
  font (family, color, size...);
  position;
  display (flex, grid, block...);
  display-configuration (justify-content, align-items...);
  margin, padding, border;
  size (width, height);
  especific styles (list-style...);
  background;
  animation;
*/

/* ================================== */
/*           Importations             */
/* ================================== */
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ================================== */
/*          Principal Hero            */
/* ================================== */
.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 40vh;
  background-image: url("../images/Home/Hero/hero-template.webp");
	background-position: center center;
  background-size: cover;
	background-repeat: no-repeat;
  box-shadow: inset 0rem 0.1rem 2rem 0rem black;
}

.hero__text {
  text-align: center;
  color: white;
  text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.359);
}

.hero__text__title {
  font-family: "Roboto";
  font-size: 5rem;
  font-weight: 900;
}

.hero__text__paragraph {
  font-family: var(--normal-font);
  font-size: 2.3rem;
}

.button-novidades {
  font-size: 2rem;
  text-decoration: underline;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.button-novidades:hover {
  background-color: rgb(132, 191, 164, 0.5);
}

/* ================================== */
/*              Courses               */
/* ================================== */
.courses__title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 10rem;
}

.courses__title > h2 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 2.8rem;
  font-weight: bolder;
  text-decoration: underline;
}

/* ================================== */
/*                Card                */
/* ================================== */
.cards-container {
  display: flex;
	flex-wrap: wrap;
  justify-content: center;
	gap: 15px;
	width: 100%;
  height: fit-content;
	margin: 0 auto;
	padding-bottom: 15px;
}

.card {
	display: flex;
	flex-direction: column;
  width: 80vw;
  border-radius: 8px;
	box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.196);
}

.card-text {
  font-family: "Catamaran";
  font-weight: 500;
}

.card .img-wrapper img {
	border-radius: 8px 8px 0px 0px;
  height: 100%;
  width: 100%;
}

.card-title {
  text-align: center;
	color: white;
	font-size: 2.6rem;
  padding: 2px 10px;
	background-image: linear-gradient(to left, var(--color05), var(--color04), var(--color05));
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.161);
}

.card-description {
	font-size: 1.8rem;
	padding: 15px 15px;
}
.card-description p {
  font-size: 2rem;
  font-weight: 700;
}

.card-list {
  list-style: none;
  font-size: 1.8rem;
}

.card-list {
  position: relative;
}

.card-list li {
  display: flex;
  padding-left: 20px;
}

.list-marker {
  align-self: flex-start;
  height: 1.8rem;
  font-size: 1.8rem;
  transform: translateY(28%);
}

.link-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 15px 15px 15px;
}

.link-wrapper > a {
  font-size: 1.8rem;
  color: var(--color01);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.171);
  padding: 5px 12px;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.301);
  background-color: var(--color03);
}

/* ================================== */
/*          Courses Detailed          */
/* ================================== */
.detailed-courses > div {  
  display: none;
  width: 100vw;
  height: max-content;
  background-color: gray;
}

.detailed-courses > .visible {
  display: block;
}

.content {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 2rem;
  line-height: 1.2em;
  padding: 30px;
}

.title-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.title-content > h2 {
  font-size: 4rem;
  transform: translateY(-50%);
}

.text {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 0 auto;
  background-color: rgba(128, 128, 128, 0.252);
  padding: 15px;
  border-radius: 16px;
}

.text h3 {
  text-align: center;
  margin-bottom: 20px;
}

.text p {
  text-align: center;
  width: 100%;
  font-weight: 500;
}

.text ol {
  padding: 20px 40px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.346);
}

#solda {
  background-image: url(../images/Home/Fotos-Detalhadas/solda.webp);
  background-size: cover;
}

/* ================================== */
/*               Footer               */
/* ================================== */
.footer {
  font-family: var(--normal-font);
  font-size: 1.8rem;
  text-align: center;
  background-color: rgb(38, 38, 38);
}

.footer__text {
  color: white;
  font-weight: 600;
  padding: 1.5rem;
}

.footer__link {
  color: white;
}