@charset "UTF-8";

/*
Padrão da estilização (que eu vo tentar seguir):
  font (family, color, size...);
  position;
  display (flex, grid, block...);
  display-configuration (justify-content, align-items...);
  margin, padding, border;
  size (width, height);
  especific styles (list-style...);
  background;
  animation;
*/

/* ================================== */
/*           Importations             */
/* ================================== */
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ================================== */
/*           Regras Globais           */
/* ================================== */
ul {
  list-style: none;
}


/* ================================== */
/*          Principal Hero            */
/* ================================== */
.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 40vh;
  background-image: url("../images/Home/Hero/hero-template.webp");
	background-position: center center;
  background-size: cover;
	background-repeat: no-repeat;
  box-shadow: inset 0rem 0.1rem 2rem 0rem black;
}

.hero__text {
  text-align: center;
  color: white;
  text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.359);
}

.hero__text__title {
  font-family: "Roboto";
  font-size: 5rem;
  font-weight: 900;
}

.hero__text__paragraph {
  font-family: var(--normal-font);
  font-size: 2.3rem;
}

.button-novidades {
  font-size: 2rem;
  text-decoration: underline;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.button-novidades:hover {
  background-color: rgb(132, 191, 164, 0.5);
}

/* ================================== */
/*              Courses               */
/* ================================== */
.courses__title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 10rem;
}

.courses__title > h2 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 2.8rem;
  font-weight: bolder;
  text-decoration: underline;
}

/* ================================== */
/*                Card                */
/* ================================== */
.cards-container {
  display: flex;
	flex-wrap: wrap;
  justify-content: center;
	gap: 15px;
  padding: 0px 15px 15px 15px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 90vw;
  border-radius: 8px;
	box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.196);
}

.card img {
  border-radius: 8px 8px 0px 0px;
  width: 100%;
}

.card-text {
  font-family: "Catamaran";
  font-weight: 500;
}

.card-title {
  text-align: center;
	color: white;
	font-size: 2.6rem;
  padding: 2px 10px;
	background-image: linear-gradient(to left, var(--color05), var(--color04), var(--color05));
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.161);
}

.card-description {
  min-height: 250px;
  font-size: 1.8rem;
	padding: 15px 15px;
}

.card-description p {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}

.card-list {
  list-style: none;
  font-size: 1.8rem;
}

.card-list li {
  display: flex;
  line-height: 2rem;
}

.list-marker {
  align-self: flex-start;
  height: 1.8rem;
  font-size: 1.8rem;
}

.link-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 15px 15px 15px;
}

.link-wrapper > a {
  font-size: 1.8rem;
  color: white;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.171);
  padding: 5px 12px;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.301);
  background-color: var(--color03);
}

/* ================================== */
/*          Courses Detailed          */
/* ================================== */
.detailed-courses > div {  
  display: none;
  height: fit-content;
  background-color: white;
}

.detailed-courses > .visible {
  display: block;
}

.content {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: max-content;
  padding: 20px 0;
  line-height: 1.2em;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
}

.content:nth-child(odd) {
  background-color: var(--color06);
  color: white;
}

.title-content {
  font-family: "Roboto", sans-serif;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
}

.title-content > h2 {
  font-size: 4rem;
}

.text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
	display: flex;
  flex-direction: column;
  max-width: 600px;
  height: max-content;
  margin-top: 15px;
  background-color: rgba(122, 122, 122, 0.456);
  padding: 15px;
  border-radius: 16px;
  line-height: 2rem;
}

#operacao-maquinas-florestais .content:nth-last-child(even) .text, #manutencao-de-maquinas-florestais .content:nth-last-child(odd) .text {
  background-color: #203c20b5;
}

li {
	font-size: 1.6rem;
	line-height: 2rem;
}

.list-topic {
	font-size: 2rem;
	font-weight: bold;
}

.text h3 {
  text-align: center;
  margin-bottom: 20px;
}

.text p {
  text-align: center;
  padding-bottom: 5px;
  width: 100%;
  font-weight: 500;
}

.text-contrast {
  color: var(--color01);
}

.sublist {
  text-indent: 2rem;
	margin-bottom: 15px;
}

.row {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  width: 100%;
  margin: 15px 0;
}

#operacao-de-maquinas-florestais .content:nth-last-child(even) .row, #manutencao-de-maquinas-florestais .content:nth-last-child(odd) .row {
  flex-direction: row;
}

.img-wrapper-course {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 650px;
  margin: 15px 0;
}

.img-wrapper-course img {
  width: 100%;
  filter: drop-shadow(4px 4px 16px rgba(0, 0, 0, 0.34));
}

.add-info {
  font-family: "Catamaran", sans-serif;
  font-size: 2.8rem;
  font-weight: bold;
  padding: 10px;
  border-radius: 0 10px 10px 0;
  background-color: var(--color02);
  color: var(--color06);
  align-self: flex-start;
}

#operacao-de-maquinas-florestais .content:nth-last-child(even) .add-info, #manutencao-de-maquinas-florestais .content:nth-last-child(odd) .add-info{
  align-self: flex-end;
  border-radius: 10px 0 0 10px;
  background-color: var(--color06);
  color: white;
}

#solda {
  background-image: url(../images/Home/Fotos-Detalhadas/solda.webp);
}

#solda .content {
  height: 120vh;
}

#harvester-esteira-op {
  background-image: url("../images/Home/Fotos-Detalhadas/pc/harvester-esteira/op-harvester-esteira-fundo.jpg")
}

#harvester-esteira-mt {
	background-image: url("../images/Home/Fotos-Detalhadas/pc/harvester-esteira/mt-harvester-esteira-fundo.jpg");
}

#forwarder-op {
  background-image: url("../images/Home/Fotos-Detalhadas/pc/forwarder/op-forwarder-fundo.jpg");
}

#retroescavadeira-op {
  background-image: url("../images/Home/Fotos-Detalhadas/pc/retroescavadeira/op-retroescavadeira-fundo.jpg");
}

#empilhadeira-op {
  background-image: url("../images/Home/Fotos-Detalhadas/pc/empilhadeira/op-empilhadeira-fundo.jpg");
}

#caminhao-grua-op {
  background-image: url("../images/Home/Fotos-Detalhadas/pc/caminhão-grua/op-caminhao-grua-fundo.jpg");
}

@media (min-width: 768px) {
  /* ================================== */
  /*          Principal Hero            */
  /* ================================== */
  .hero {
    height: 70vh;
  }

  .hero__text__title {
    font-size: 7rem;
  }

  .hero__text__paragraph {
    font-size: 2.8rem;
  }

  .button-novidades {
    font-size: 2.3rem;
  }
  
  /* ================================== */
  /*              Courses               */
  /* ================================== */
  .courses__title {
    height: 8rem;
  }

  .cards-container {
    padding-top: 0;
  }
    
  /* ================================== */
  /*                Card                */
  /* ================================== */
  .cards-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    width: 100vw;
    height: fit-content;
    padding: 0 15px 15px 15px;
  }

  .card {
    width: 40vw;
  }

  .card-title {
    padding: 2px 8px;
  }

  .link-wrapper {
    align-items: flex-end;
    height: fit-content;
    text-align: center;
    padding: 0px 15px 15px 15px;
  }

  .link-wrapper > a {
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.171);
    width: 100%;
    padding: 5px 12px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.301);
    background-color: var(--color03);
  }
}

@media (min-width: 1024px) {
  /* ================================== */
  /*          Principal Hero            */
  /* ================================== */
  .hero {
    height: 75vh;
  }
  
  /* ================================== */
  /*                Card                */
  /* ================================== */
  .cards-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    width: 100vw;
    padding: 0 15px 15px 15px;
  }

  .card {
    width: 30vw;
  }

  .card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding: 2px 8px;
  }

  .link-wrapper {
    align-items: flex-end;
    height: fit-content;
    text-align: center;
    padding: 0px 15px 15px 15px;
  }

  .link-wrapper > a {
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.171);
    width: 100%;
    padding: 5px 12px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.301);
    background-color: var(--color03);
  }
}

@media (min-width: 1200px) {
  /* ================================== */
  /*          Principal Hero            */
  /* ================================== */
  .hero__text__title {
    font-size: 8rem;
  }

  .hero__text__paragraph {
    font-size: 3rem;
  }

  .button-novidades {
    font-size: 2.5rem;
  }
    
  /* ================================== */
  /*          Courses Detailed          */
  /* ================================== */
  .content {
    min-height: 90vh;
  }

  .title-content {
    display: flex;
    justify-content: flex-start;
    line-height: 2em;
    width: 100%;
    height: fit-content;
  }

  .title-content > h2 {
    font-size: 5rem;
    padding: 20px;
    border-radius: 0 15px 15px 0;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.383);
    background-color: var(--color06);
    color: white;
  }

  .content:nth-child(odd) > .title-content {
    justify-content: flex-end;
  }

  .content:nth-child(odd) > .title-content > h2 {
    border-radius: 15px 0 0 15px;
    background-color: var(--color01);
    color: var(--color06);
  }

  .text {
    display: flex;
    flex-direction: column;
    height: max-content;
    padding: 30px;
    border-radius: 16px;
    background-color: rgba(122, 122, 122, 0.456);
  }

  .text h3 {
    text-align: center;
    margin-bottom: 20px;
  }

  .text p {
    text-align: center;
    font-weight: 500;
    padding-bottom: 5px;
    width: 100%;
  }

  .text-contrast {
    color: var(--color01);
  }

  .sublist {
    text-indent: 2rem;
  }
}