@charset "UTF-8";

/*
Padrão da estilização (que eu vo tentar seguir):
  font (family, color, size...);
  position;
  display (flex, grid, block...);
  display-configuration (justify-content, align-items...);
  margin, padding, border;
  size (width, height);
  especific styles (list-style...);
  background;
  animation;
*/

/* ================================== */
/*           Importations             */
/* ================================== */
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ================================== */
/*          Principal Hero            */
/* ================================== */
.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 35vh;
  background-image: url("../images/Home/Hero/hero-template.webp");
	background-position: center center;
  background-size: cover;
	background-repeat: no-repeat;
  box-shadow: inset 0rem 0.1rem 2rem 0rem black;
}

.hero__text {
  text-align: center;
  color: white;
}

.hero__text__title {
  font-family: "Roboto";
  font-size: 5rem;
  font-weight: 900;
}

.hero__text__paragraph {
  font-family: var(--normal-font);
  font-size: 2rem;
}

.button-novidades {
  font-size: 2rem;
  text-decoration: underline;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.button-novidades:hover {
  background-color: rgb(132, 191, 164, 0.5);
}

/* ================================== */
/*              Courses               */
/* ================================== */
.courses__title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 5.5rem;
}

.courses__title > h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  font-weight: bolder;
  border-bottom: 1px solid black;
}

/* ================================== */
/*                Card                */
/* ================================== */
.cards-container {
  display: flex;
	flex-wrap: wrap;
  justify-content: center;
	gap: 15px;
	width: 100%;
  height: fit-content;
	margin: 0 auto;
	padding-bottom: 15px;
}

.card {
	display: flex;
	flex-direction: column;
  width: 80vw;
  border-radius: 8px;
	box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.196);
}

.card-text {
  font-family: "Catamaran";
  font-weight: 500;
}

.card .img-wrapper img {
	border-radius: 8px 8px 0px 0px;
  height: 100%;
  width: 100%;
}

.card-title {
  text-align: center;
	color: white;
	font-size: 2.6rem;
  padding: 0 10px;
	background-image: linear-gradient(to left, var(--color05), var(--color04), var(--color05));
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.161);
}

.card-description {
	font-size: 1.8rem;
	padding: 15px 15px;
}
.card-description p {
  font-size: 2rem;
  font-weight: 700;
}

.card-list {
  list-style: none;
  font-size: 1.8rem;
}

.card-list {
  position: relative;
}

.card-list li {
  position: relative;
  display: flex;
  gap: 5px;
  padding-left: 20px;
}

.list-marker {
  position: absolute;
  align-self: flex-start;
  width: 1.3rem;
  transform: translate(-100%, 60%);
}

.btn-wrapper {
	display: flex;
	justify-content: center;
  align-items: center;
	width: 100%;
  padding: 15px;
  padding-top: 0;
}

.know-more-btn {
	color: white;
	background-color: var(--color03);
	padding: 8px 15px;
	border: 0;
	border-radius: 4px;
}

/* ================================== */
/*          Courses Detailed          */
/* ================================== */

/* ================================== */
/*               Footer               */
/* ================================== */
.footer {
  font-family: var(--normal-font);
  font-size: 1.8rem;
  text-align: center;
  background-color: var(--contrast-color);
}

.footer__text {
  font-weight: 600;
  color: black;
  padding: 1.5rem;
}

.footer__link {
  color: black;
}