/* NAVBAR */
#navbar {
	position: fixed;
	width: 100%;
}

#navbar .navbar-container {
	display: flex;
	justify-content: space-around;
	margin: 0rem 3rem;
}

#navbar .navbar__logo {
	width: 20rem;
}

#navbar .navbar__list {
	display: flex;
	flex-direction: column;
	list-style: none;
	align-self: center;
	width: 100%;
}

#navbar .navbar__link {
	position: relative;
	font-size: 1.8rem;
	font-weight: 800;
	color: var(--color05);
	text-transform: uppercase;	
	transition: 0.3s ease-in-out;
}


#navbar .navbar__li {
	position: relative;
	width: 100%;
	padding: 2rem ;
	border-bottom: 1px solid var(--color05);
}

#navbar .navbar__toggle {
	position: relative;
	display: inline-block;
	align-self: center;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

#navbar .navbar__toggle span {
	position: absolute;
	top: calc(50%);
	left: calc(50% - 10px);
	width: 20px;
	height: 2px;
	background-color: var(--color05);
	transition: 0.3s ease-in-out;
}

#navbar .navbar__toggle span:nth-child(1) {
	transform: translateY(calc(-50% - 6px));
}

#navbar .navbar__toggle span:nth-child(3) {
	transform: translateY(calc(50% + 6px))
}

#navbar .navbar__toggle.activate span:nth-child(1) {
	transform: translateY(0) rotateZ(45deg);
}

#navbar .navbar__toggle.activate span:nth-child(2) {
	transform: rotateZ(45deg);
}

#navbar .navbar__toggle.activate span:nth-child(3) {
	transform: rotateZ(-45deg);
}

#navbar .collapse-links {
	text-align: center;
	position: absolute;
	display: flex;
	justify-content: center;
	width: 100vw;
	border-top: 1px solid var(--color05);
	transform: translateY(-200%);
	opacity: 0;
	transition: 0.5s ease-in-out;
}

#navbar .collapse-links.activate {
	transform: translateY(calc(0% + 7.2rem));
	opacity: 1;
}

@media (min-width: 1025px) {
	#navbar {
		z-index: 2;
	}

	#navbar .navbar-container {
		margin: 0rem 7.5rem;
	}
	
	#navbar .navbar__logo {
		width: 27rem;
	}
	
	#navbar .collapse-links {
		position: relative;
		justify-content: center;
		text-align: center;
		width: auto;
		border-top: none;
		transform: translateY(0%);
		transition: 0.5s ease-in-out;
		background-color: transparent;
		opacity: 1;
		z-index: 1;
	}
	
	#navbar .navbar__list {
		flex-direction: row;
		align-self: center;
		justify-content: flex-end;
	}
	
	#navbar .navbar__link {
		font-size: 1.8rem;
		padding: 2px 8px;
		font-weight: 800;
		border-radius: 15px 15px 0px 15px;
		color: var(--color05);
		z-index: 30;
	}

	#navbar .navbar__link:hover {
		margin-bottom: 3rem;
		background-color: var(--color01);
		color: var(--color05);
		transform: translateY(30px)
	}
	
	#navbar .navbar__li {
		width: auto;
		padding: 0;
		margin-left: 3rem;
		border-bottom: none;
	}
	
	#navbar .navbar__toggle {
		display: none;
	}
}