@charset "UTF-8";

h2, p {
	line-height: 1.8rem;
}

/* MAIN CONTENT */
main {
  width: 100vw;
}

/* ABOUT */
#about .title {
	font-size: 2.5rem;
	margin-bottom: 1rem;
}

#about .description, #about .list {
	font-size: 1.5rem;
}

#about .list {
	text-indent: 1rem;
	list-style: none;
}

#about .list__item {
	position: relative;
}

#about .list__item::before {
	position: absolute;
	content: attr(value)".";
	text-transform: uppercase;
	left: -10px;
}