@charset "UTF-8";

/* HTML */
html { 
	scroll-snap-type: y proximity;
}

/* NAVBAR */
#navbar {
	scroll-snap-align: center;
	z-index: 998;
}

/* Indicators */
.indicators-wrapper {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	z-index: 997;
}

.indicator {
	display: flex;
	align-items: center;
	position: relative;
	width: 30px;
	height: 30px;
	background-color: var(--color01);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25),
							inset 2px 2px 4px rgba(255, 255, 255, 0.8),
							inset -2px -2px 4px rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	cursor: pointer;
}

.indicator.active {
	background-color: var(--color05);
}

.indicator a {
	display: none;
	font-size: 1.3rem;
	font-weight: 700;
	position: absolute;
	width: max-content;
	transform: translateX(-110%);
	color: white;
	opacity: 0;
}

/* Containers Fluids */
#main-content .container-fluid {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100vh;
	scroll-snap-align: center;
	box-shadow: inset 5px 5px 32px 4px rgba(0, 0, 0, 0.6);
	background-size: cover;
}

#main-content .container-fluid:nth-child(1) {
	scroll-snap-align: none;
	height: calc(100vh - 72px);
}

/* Containers */
.container {
	position: relative;
	display: grid;
	grid-template-rows: 0.1fr 1fr 0.1fr;
	grid-template-columns: 1fr;
	width: 100%;
	margin: 0px 30px;
}

#info-content .container .text-container {
	grid-row-start: 0;
}

/* Preview Content */
.preview-content {
	font-weight: 800;
	font-size: 1.8rem;
	display: flex;
	justify-self: right;
	color: white;
	cursor: pointer;
}

.preview-content span {
	align-self: center;
}

.preview-content ion-icon {
	align-self: center;
	padding-left: 3px;
}

.previous {
	grid-row-start: 0;
}

.next { 
	grid-row-start: 3;
}

/* Texts */
#info-container .container .text-container {
	grid-row-start: 1;
	grid-row-end: 3;
}

.text-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	grid-row-start: 2;
	overflow: hidden;
}

#info-container .text-container div {
	transform: translateY(0%);
}

.text-container div {
	transform: translateY(-25%);
}

.title {
	font-size: 3rem;
	font-weight: bolder;
	text-align: center;
	margin-top: 15px;
}

.topic {
	font-size: 2.5rem;
}

.subtopic {
	text-indent: 1.6rem;
	font-size: 2.2rem;
}

.text {
	text-indent: 1.6rem;
	font-size: 2rem;
	line-height: 2.3rem;
	width: calc(100vw/1.5);
}

#who-we-are-container .text {
	width: calc(100vw/2)
}

.subtopic + .text {
	text-indent: 3.2rem;
}

/* Containers (Specifics) */
/* Info Container */
#info-container {
	background-image: url(../images/about/celular/informacoes.jpg);
}

/* Who we are Container */
#who-we-are-container {
	background-image: url(../images/about/celular/o-que-e-a-novaera.jpg);
}


/* How we merged Container */
#how-we-merged-container {
	background-image: url(../images/about/celular/como-a-novaera-surgiu.jpg);
}

/* Our goal Container */
#our-goal-container {
	background-image: url(../images/about/celular/objetivo.jpg);
}

@media (min-width: 768px) {
	#info-container {
		background-image: url(../images/about/PC/informacoes.jpg);
	}

	#who-we-are-container {
		background-image: url(../images/about/PC/o-que-e-a-novaera-container.png);
	}

	#how-we-merged-container {
		background-image: url(../images/about/PC/como-a-novaera-surgiu.png);
	}

	#our-goal-container {
		background-image: url(../images/about/PC/objetivo.png);
	}
}