.header-content .toggle-button span:nth-child(1) {
  transform: translateY(-10px);
}

.header-content .toggle-button span:nth-child(3) {
  transform: translateY(10px);
}

/* Animation */
.header-content .toggle-button.activate span:nth-child(1) {
  transform: rotate(45deg);
  transition-delay: 0.1s;
}

.header-content .toggle-button.activate span:nth-child(2) {
  transform: translateX(200%);
}

.header-content .toggle-button.activate span:nth-child(3) {
  transform: rotate(315deg);
  transition-delay: 0.2s;
}
